[Desktop Entry]
Type=Application
##Exec=/usr/bin/nfs-cliente.sh
#Exec=sudo /sbin/start-stop-daemon --start --oknodo --quiet -b --exec /usr/bin/nfs-cliente.sh
Exec=sudo /sbin/start-stop-daemon --start --oknodo --quiet --name nfs-cliente.sh --pidfile /run/nfs-cliente.pid -b --exec /usr/bin/nfs-cliente.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=montar-nfs
Name=montar-nfs
Comment[es_ES]=Monta alumnos
Comment=Monta alumnos
