Source: vx-dga-l-carpetas-compartidas-cliente
Section: utils
Priority: extra
Maintainer: Arturo Martín Romero <amartinromero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/vitalinux

Package: vx-dga-l-carpetas-compartidas-cliente
Architecture: all
Depends: ${misc:Depends}, rpcbind, nfs-common, vx-dga-l-variables-conf, acl
Description: Configuración de carpetas compartidas en el cliente
 Configuración de carpetas compartidas en el cliente, desde el equipo servidor cache
